@import url(bootstrap.min.css);
@import url(all.min.css);
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}


p{
    margin: 0;
}




/*Style for Home page*/

/*Style for Header*/

header  .nav-link{
    color: limegreen;
    font-size: 0.90rem;
    font-weight: 600;
    padding-top: 4px;
    padding-bottom: 6px;
}

header  .nav-link .input-group{
    width: 90%;
}

header .nav-link .input-group .form-control{
    padding: 0 0 0 4px;
    font-size: 0.80rem;
    height: 25px;
    border-radius: 0;
}

header .nav-link .input-group .btn{
    padding: 0 0.4rem;
    border-radius: 0;
}

header .bg-light{
    background: #15161D !important;
}
header .navbar-light .navbar-nav .nav-link,
header .navbar-light .navbar-nav .nav-link .dropdown-item
{
    color: white;
    font-size: 0.9rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    font-weight: 600;
}
header .navbar-light .navbar-nav .nav-link:hover
{
    color: #18d96e;
}



#footer {
    background: #15161D;
    color: #B9BABC;
}



.footer {
    margin: 30px 0px;
}

.footer .footer-title {
    color: #FFF;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0px 0px 30px;
}

.footer-links li+li {
    margin-top: 15px;
}

.footer-links li a {
    color: #B9BABC;
}

.footer-links li i {
    margin-right: 15px;
    color: #D10024;
    width: 14px;
    text-align: center;
}



.copyright {
    margin-top: 30px;
    display: block;
    font-size: 12px;
}


.btn-success{
    background-color: #2B3856;

    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 17px;
}
.add-button:hover {
    opacity: .7;
}
.back{
    background-color: #15161D;
    padding-top: 10px;
    padding-bottom: 10px;
}


.profil{
    background: #f9f9f9;
}
.profil .yacht-info__list li {
    width:25%;
}
.olanaklar-kutu{
    background: #fff;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    overflow: hidden;
    float: left;
    width: 100%;
    margin: 15px 0px;
}
.olanaklar{
    float: left;
    width: 100%;
    position: relative;
    padding: 25px 30px 30px;
}
.margin-top--22{
    margin-top:-22px;
}
.olanaklar-kutu h4{
    color: #FF9800;
}
.yacht-info__list img{
    width:20px;
    padding-right:5px;
}
.yacht-info__list {
    list-style: none;
    padding: 0;
    font-size: 16px;
}
.yacht-info__list li {
    padding: 6px 0;
    font-size: 15px;
    display: table;
    height: 100%;
    line-height: 21px;
    float: left;
    width: 50%;
    margin-bottom: 5px;
}























/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

    html{

    }

}